body {
  background-image: url("../assets/img/fondo.png");
  background-size: auto;
  background-position: top;
  margin: 0;
  padding: 0;
}

.other-body {
  background-image: none;
  background-color: rgba(20, 65, 78, 0.4);
}

header {
  height: 50px;
  width: 100%;
  display: grid;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  place-items: center;
}

header .row {
  display: grid;
  grid-template-columns: auto 1fr; /* Columna del logo y el resto de las columnas */
  place-items: center; /* Centrar verticalmente los elementos */
}

.logo-container {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.logo {
  width: 90px;
  height: auto;
  margin-left: -350px;
  height: 50px;
  width: 140px;
}
.logo-container {
  display: grid;
  place-items: start;
  margin-left: -100px;
}

.carrito {
  float: right;
  margin-left: 10px;
  width: auto;
  height: 25px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}
.nav-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
}

.button,
nav button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0000ff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 50px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

footer button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0000ff;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.contact-info,
.map {
  flex-basis: 40%;
  margin-bottom: 20px;
}

.map img {
  width: 100%;
  height: auto;
}

.contact-info h2 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.product {
  text-align: center;
  margin: 20px;
  border-color: red;
  border-radius: 20px;
}

.product img {
  width: 250px;
  height: 250px; /* Establece la altura fija deseada */
  object-fit: cover; /* Ajustar y recortar la imagen para que se ajuste al contenedor sin deformaciones */
  border-radius: 30px;
}

.product h3 {
  margin-top: 10px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.centered-container {
  text-align: center;
  margin-top: 25vh;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  height: 65px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.footer-end {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.about-us-container {
  margin-left: 40px;
  margin-right: 40px;
}
/* Estilos para pantallas de hasta 600px */

@media (max-width: 1200px) {
  .logo {
    width: 60px;
    height: auto;
    margin-left: -200px;
    margin-right: 20px;
  }

  .carrito {
    margin-left: 5px;
    width: 30px;
  }

  header {
    padding: 10px;
  }

  nav ul li {
    margin-right: 2px;
  }

  .button,
  nav button {
    padding: 8px 16px;
    font-size: 12px;
  }

  h1 {
    margin-top: 10px;
  }

  footer button {
    padding: 8px 16px;
    font-size: 12px;
  }
  nav ul li a {
    font-size: 14px; /* Tamaño de fuente ajustado para dispositivos móviles */
    margin-left: 5px;
  }

  h1 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
  }
  .products-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
  }
  .product img {
    max-width: 100%;
    height: auto;
  }
  .footer-end {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .centered-container {
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    font-size: 30px;
  }

  /* Estilos para pantallas de hasta 600px */
  @media (max-width: 600px) {
    /* Modificar tamaños de fuentes y márgenes */

    nav ul li a {
      font-size: 16px;
    }
    .button,
    nav button,
    footer button {
      padding: 8px 12px;
      font-size: 12px;
    }

    /* Modificar tamaños de logotipo y carrito */
    .logo {
      width: 60px;
      height: auto;
      margin-left: 40px;
      margin-right: 20px;
    }
    .carrito {
      margin-left: 5px;
      width: 20px;
      height: auto;
      margin-top: 5px;
    }

    /* Modificar tamaños de imágenes de productos */
    .product img {
      width: 100%;
      height: 280px; /* Ajusta la altura deseada */
      object-fit: fill;
      border-radius: 20px;
    }

    /* Modificar tamaño del header */
    header {
      height: 50px;
      width: 100%;
      display: grid;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.75);
      place-items: center;
    }

    /* Modificar tamaño del container centrado */
    .centered-container {
      text-align: center;
      margin-top: 25vh;
      font-size: 15px;
      background-color: rgba(255, 255, 255, 0.75);
      height: 30px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
    }
    h1 {
      text-align: center;
      font-size: 18px;
    }
  }
  /* Estilos para pantallas de hasta 1200px */
  @media (min-width: 601px) and (max-width: 1200px) {
    /* Modificar tamaños de fuentes y márgenes */

    nav ul li a {
      font-size: 20px;
    }
    .button,
    nav button,
    footer button {
      padding: 8px 12px;
      font-size: 16px;
    }

    /* Modificar tamaños de logotipo y carrito */
    .logo {
      width: 80px;
      height: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
    .carrito {
      margin-left: 5px;
      width: 25px;
      height: auto;
      margin-top: 0px;
    }

    /* Modificar tamaños de imágenes de productos */
    .product img {
      width: 100%;
      height: 150px; /* Ajusta la altura deseada */
      object-fit: cover;
      border-radius: 20px;
    }

    /* Modificar tamaño del header */
    header {
      height: 50px;
      width: 100%;
      display: grid;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.75);
      place-items: center;
    }

    /* Modificar tamaño del container centrado */
    .centered-container {
      text-align: center;
      margin-top: 25vh;
      font-size: 15px;
      background-color: rgba(255, 255, 255, 0.75);
      height: 40px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
    }
    h1 {
      text-align: center;
      font-size: 30px;
      margin-top: 15px;
    }
  }
}
