.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.556);
  padding: 10px;
  text-align: center;
  z-index: -1;
}


@media (max-width: 600px) {
  .footer {
    padding: 5px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .footer {
    padding: 10px;
  }
}

@media (min-width: 1201px) {
  .footer {
    padding: 15px;
  }
}
